/* Font */
@font-face {
    font-family: cmu; /* set name */
    src: url(../fonts/cmunrm.woff2);
}

@font-face {
    font-family: cmu;
    src: url(../fonts/cmunbx.woff2);
    font-weight: bold;
}

/* Colour Palette */

:root {
    --primary-font: "cmu", cursive;
    --secondary-font: "Hack Nerd Mono", Mono;
    --white-color: #fffde5;
    --primary-color: #605f4f;
    --secondary-color: #adac9a;
    --highlight-color: #a3ccc4;
    --highlight-color-light: #dafffd;
}

body {
    font-family: var(--primary-font);
    font-size: 1.2rem;
}

h1,
h2,
h3 {
    font: var(--primary-font);
}

p {
    font: var(--primary-font);
    color: var(--primary-color);
}

.subheading-color{
    color: var(--primary-color);
}

/* Navbar */
.logo{
    max-width: 50px;
    max-height: 50px;
}

#navbar {
    background-color: var(--primary-color);
}

#navbar a {
    color: var(--white-color);
<a class="navbar-brand" href="{% url 'as' %}">Logo</a>}

#hero {
    background-color: var(--secondary-color);
}


/* Footer */
footer{
    background-color: var(--primary-color);    
}
