/* Font */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@font-face {
    font-family: cmu; /* set name */
    src: url(../fonts/cmunrm.woff2);
}

@font-face {
    font-family: cmu;
    src: url(../fonts/cmunbx.woff2);
    font-weight: bold;
}

/* Colour Palette */
:root {
    --heading-font: "cmu", sans-serif;
    --primary-font: "Source Sans 3", Sans;
    --white-color: #fffef6;
    --primary-color: #2b2724;
    --secondary-color: #37353b;
    --highlight-color: #a0c9c0;
    --highlight-color-light: #dafffd;
}

header p {
    font-size: 1.2rem;
}

body {
    font-family: var(--primary-font), "Fira Sans", sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: var(--heading-font);
}

p {
    font: var(--primary-font);
}

a {
    color: teal;
}

.subheading-color {
    color: var(--secondary-color);
}

/* Button styling */

.btn {
    border-radius: 1rem;
    transition: transform 0.2s ease;
    color: var(--highlight-color);
    border: #a0c9c0;
}

.frost-btn {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    color: var(--white-color);
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.1);
}

.frost-btn:hover {
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: var(--white-color);
}

.accordion-button:not(.collapsed) {
    background-color: var(--highlight-color-light);
}

.accordion-button {
    background-color: var(--white-color);
}

/* Navbar */
.logo {
    max-width: 50px;
    max-height: 50px;
}

.navbar {
    background: var(--primary-color);
}

.navbar a {
    color: var(--white-color);
}

.btn:hover {
    transform: scale(1.05);
}

/* Hero section */

#hero {
    background: linear-gradient(
        to bottom,
        var(--primary-color),
        var(--secondary-color)
    );
    color: var(--white-color);
    min-height: 80vh;
}

/* Features Section */
#features{
    
}

/* CTA Section */
#cta {
    border: 5px solid var(--primary-color);
    border-left: 0px;
    border-right: 0px;
    background-color: var(--secondary-color);
    color: var(--white-color);
}

/* FAQ Section */

#faq h3 {
    font-family: var(--primary-font);
    color: var(--primary-color);
}

#faq .accordion-body {
    background-color: var(--white-color);
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: var(--highlight-color);
}
